numpy==1.14.3
psutil==5.4.3
wordcloud==1.4.1
inflect==0.3.1
requests==2.18.4
pytrends==4.4.0
tweepy==3.6.0
matplotlib==2.2.2
dash_html_components==0.10.1
dash_core_components==0.22.1
pandas==0.23.0
googlefinance.client==1.3.0
plotly==2.6.0
Quandl==3.3.0
dash==0.21.1
forex_python==1.0.0
nltk==3.2.5
fbprophet==0.2.1
googlefinance==0.7
scikit_learn==0.19.1
vaderSentiment==3.2.1
