body {
    /*background-image: url("bitcoin-bg3.png");
    background-size: 20px 20px; */
    background-color: white;
}

._dash-undo-redo {
  display: none;
}

#my-header{
    background-image: url("bitcoin_banner3.png");
    background-size: 150px 100px;
    background-repeat: no-repeat;
    width: 100%;
    height: 100px;
    background-color: rgb(66, 196, 247) ;
}
